bitsandbytes
accelerate
xformers==0.0.29.post3
peft
trl==0.15.2
triton
cut_cross_entropy
unsloth_zoo
sentencepiece
protobuf
datasets
huggingface_hub
hf_transfer
unsloth
protobuf==3.20.3
wandb
evaluate
nltk
bert_score
google-generativeai
jinja2
uvicorn
fastapi
dotenv
sentence_transformers
beautifulsoup4
faiss-cpu
pyngrok
nest_asyncio
requests